
body {
    background: linear-gradient(to right,#141e30,#243b55);
    color:white;
}
.card {
    border-radius:15px;
    transition:0.3s;
}
.card:hover {
    transform:scale(1.03);
}
.btn {
    border-radius:10px;
}
